<p id="notice"><%= notice %></p>

<p>
  <strong>Regno:</strong>
  <%= @main_charity.regno %>
</p>

<p>
  <strong>Coyno:</strong>
  <%= @main_charity.coyno %>
</p>

<p>
  <strong>Trustees:</strong>
  <%= @main_charity.trustees %>
</p>

<p>
  <strong>Fyend:</strong>
  <%= @main_charity.fyend %>
</p>

<p>
  <strong>Welsh:</strong>
  <%= @main_charity.welsh %>
</p>

<p>
  <strong>Incomedate:</strong>
  <%= @main_charity.incomedate %>
</p>

<p>
  <strong>Income:</strong>
  <%= @main_charity.income %>
</p>

<p>
  <strong>Grouptype:</strong>
  <%= @main_charity.grouptype %>
</p>

<p>
  <strong>Email:</strong>
  <%= @main_charity.email %>
</p>

<p>
  <strong>Web:</strong>
  <%= @main_charity.web %>
</p>

<%= link_to 'Edit', edit_main_charity_path(@main_charity) %> |
<%= link_to 'Back', main_charities_path %>
