<p id="notice"><%= notice %></p>

<h1>Ar Submits</h1>

<table>
  <thead>
    <tr>
      <th>Regno</th>
      <th>Arno</th>
      <th>Submit date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ar_submits.each do |ar_submit| %>
      <tr>
        <td><%= ar_submit.regno %></td>
        <td><%= ar_submit.arno %></td>
        <td><%= ar_submit.submit_date %></td>
        <td><%= link_to 'Show', ar_submit %></td>
        <td><%= link_to 'Edit', edit_ar_submit_path(ar_submit) %></td>
        <td><%= link_to 'Destroy', ar_submit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ar Submit', new_ar_submit_path %>
