<p id="notice"><%= notice %></p>

<h1>Charity Class Refs</h1>

<table>
  <thead>
    <tr>
      <th>Classno</th>
      <th>Classtext</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charity_class_refs.each do |charity_class_ref| %>
      <tr>
        <td><%= charity_class_ref.classno %></td>
        <td><%= charity_class_ref.classtext %></td>
        <td><%= link_to 'Show', charity_class_ref %></td>
        <td><%= link_to 'Edit', edit_charity_class_ref_path(charity_class_ref) %></td>
        <td><%= link_to 'Destroy', charity_class_ref, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity Class Ref', new_charity_class_ref_path %>
