<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @charity_remove_ref.code %>
</p>

<p>
  <strong>Text:</strong>
  <%= @charity_remove_ref.text %>
</p>

<%= link_to 'Edit', edit_charity_remove_ref_path(@charity_remove_ref) %> |
<%= link_to 'Back', charity_remove_refs_path %>
