<p id="notice"><%= notice %></p>

<p>
  <strong>Regno:</strong>
  <%= @charity_aoo.regno %>
</p>

<p>
  <strong>Aootype:</strong>
  <%= @charity_aoo.aootype %>
</p>

<p>
  <strong>Aookey:</strong>
  <%= @charity_aoo.aookey %>
</p>

<p>
  <strong>Welsh:</strong>
  <%= @charity_aoo.welsh %>
</p>

<p>
  <strong>Master:</strong>
  <%= @charity_aoo.master %>
</p>

<%= link_to 'Edit', edit_charity_aoo_path(@charity_aoo) %> |
<%= link_to 'Back', charity_aoos_path %>
