<p id="notice"><%= notice %></p>

<h1>Charities</h1>

<table>
  <thead>
    <tr>
      <th>Regno</th>
      <th>Subno</th>
      <th>Name</th>
      <th>Orgtype</th>
      <th>Gd</th>
      <th>Aob</th>
      <th>Aob defined</th>
      <th>Nhs</th>
      <th>Ha no</th>
      <th>Corr</th>
      <th>Add1</th>
      <th>Add2</th>
      <th>Add3</th>
      <th>Add4</th>
      <th>Add5</th>
      <th>Postcode</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Lon</th>
      <th>Lat</th>
      <th>Update at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.regno %></td>
        <td><%= charity.subno %></td>
        <td><%= charity.name %></td>
        <td><%= charity.orgtype %></td>
        <td><%= charity.gd %></td>
        <td><%= charity.aob %></td>
        <td><%= charity.aob_defined %></td>
        <td><%= charity.nhs %></td>
        <td><%= charity.ha_no %></td>
        <td><%= charity.corr %></td>
        <td><%= charity.add1 %></td>
        <td><%= charity.add2 %></td>
        <td><%= charity.add3 %></td>
        <td><%= charity.add4 %></td>
        <td><%= charity.add5 %></td>
        <td><%= charity.postcode %></td>
        <td><%= charity.phone %></td>
        <td><%= charity.fax %></td>
        <td><%= charity.lon %></td>
        <td><%= charity.lat %></td>
        <td><%= charity.updated_at %></td>
        <td><%= link_to 'Show', charity %></td>
        <td><%= link_to 'Edit', edit_charity_path(charity) %></td>
        <td><%= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity', new_charity_path %>
