<p id="notice"><%= notice %></p>

<p>
  <strong>Regno:</strong>
  <%= @charity.regno %>
</p>

<p>
  <strong>Subno:</strong>
  <%= @charity.subno %>
</p>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Orgtype:</strong>
  <%= @charity.orgtype %>
</p>

<p>
  <strong>Gd:</strong>
  <%= @charity.gd %>
</p>

<p>
  <strong>Aob:</strong>
  <%= @charity.aob %>
</p>

<p>
  <strong>Aob defined:</strong>
  <%= @charity.aob_defined %>
</p>

<p>
  <strong>Nhs:</strong>
  <%= @charity.nhs %>
</p>

<p>
  <strong>Ha no:</strong>
  <%= @charity.ha_no %>
</p>

<p>
  <strong>Corr:</strong>
  <%= @charity.corr %>
</p>

<p>
  <strong>Add1:</strong>
  <%= @charity.add1 %>
</p>

<p>
  <strong>Add2:</strong>
  <%= @charity.add2 %>
</p>

<p>
  <strong>Add3:</strong>
  <%= @charity.add3 %>
</p>

<p>
  <strong>Add4:</strong>
  <%= @charity.add4 %>
</p>

<p>
  <strong>Add5:</strong>
  <%= @charity.add5 %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @charity.postcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @charity.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @charity.fax %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @charity.lon %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @charity.lat %>
</p>

<p>
  <strong>Update at:</strong>
  <%= @charity.update_at %>
</p>

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
