<p id="notice"><%= notice %></p>

<p>
  <strong>Regno:</strong>
  <%= @charity_partb.regno %>
</p>

<p>
  <strong>Artype:</strong>
  <%= @charity_partb.artype %>
</p>

<p>
  <strong>Fystart:</strong>
  <%= @charity_partb.fystart %>
</p>

<p>
  <strong>Fyend:</strong>
  <%= @charity_partb.fyend %>
</p>

<p>
  <strong>Inc leg:</strong>
  <%= @charity_partb.inc_leg %>
</p>

<p>
  <strong>Inc end:</strong>
  <%= @charity_partb.inc_end %>
</p>

<p>
  <strong>Inc vol:</strong>
  <%= @charity_partb.inc_vol %>
</p>

<p>
  <strong>Inc fr:</strong>
  <%= @charity_partb.inc_fr %>
</p>

<p>
  <strong>Inc char:</strong>
  <%= @charity_partb.inc_char %>
</p>

<p>
  <strong>Inc invest:</strong>
  <%= @charity_partb.inc_invest %>
</p>

<p>
  <strong>Inc other:</strong>
  <%= @charity_partb.inc_other %>
</p>

<p>
  <strong>Inc total:</strong>
  <%= @charity_partb.inc_total %>
</p>

<p>
  <strong>Invest gain:</strong>
  <%= @charity_partb.invest_gain %>
</p>

<p>
  <strong>Asset gain:</strong>
  <%= @charity_partb.asset_gain %>
</p>

<p>
  <strong>Pension gain:</strong>
  <%= @charity_partb.pension_gain %>
</p>

<p>
  <strong>Exp vol:</strong>
  <%= @charity_partb.exp_vol %>
</p>

<p>
  <strong>Exp trade:</strong>
  <%= @charity_partb.exp_trade %>
</p>

<p>
  <strong>Exp invest:</strong>
  <%= @charity_partb.exp_invest %>
</p>

<p>
  <strong>Exp grant:</strong>
  <%= @charity_partb.exp_grant %>
</p>

<p>
  <strong>Exp charble:</strong>
  <%= @charity_partb.exp_charble %>
</p>

<p>
  <strong>Exp gov:</strong>
  <%= @charity_partb.exp_gov %>
</p>

<p>
  <strong>Exp other:</strong>
  <%= @charity_partb.exp_other %>
</p>

<p>
  <strong>Exp total:</strong>
  <%= @charity_partb.exp_total %>
</p>

<p>
  <strong>Exp support:</strong>
  <%= @charity_partb.exp_support %>
</p>

<p>
  <strong>Exp dep:</strong>
  <%= @charity_partb.exp_dep %>
</p>

<p>
  <strong>Reserves:</strong>
  <%= @charity_partb.reserves %>
</p>

<p>
  <strong>Asset open:</strong>
  <%= @charity_partb.asset_open %>
</p>

<p>
  <strong>Asset close:</strong>
  <%= @charity_partb.asset_close %>
</p>

<p>
  <strong>Fixed assets:</strong>
  <%= @charity_partb.fixed_assets %>
</p>

<p>
  <strong>Open assets:</strong>
  <%= @charity_partb.open_assets %>
</p>

<p>
  <strong>Invest assets:</strong>
  <%= @charity_partb.invest_assets %>
</p>

<p>
  <strong>Cash assets:</strong>
  <%= @charity_partb.cash_assets %>
</p>

<p>
  <strong>Current assets:</strong>
  <%= @charity_partb.current_assets %>
</p>

<p>
  <strong>Credit 1:</strong>
  <%= @charity_partb.credit_1 %>
</p>

<p>
  <strong>Credit long:</strong>
  <%= @charity_partb.credit_long %>
</p>

<p>
  <strong>Pension assets:</strong>
  <%= @charity_partb.pension_assets %>
</p>

<p>
  <strong>Total assets:</strong>
  <%= @charity_partb.total_assets %>
</p>

<p>
  <strong>Funds end:</strong>
  <%= @charity_partb.funds_end %>
</p>

<p>
  <strong>Funds restrict:</strong>
  <%= @charity_partb.funds_restrict %>
</p>

<p>
  <strong>Funds unrestrict:</strong>
  <%= @charity_partb.funds_unrestrict %>
</p>

<p>
  <strong>Funds total:</strong>
  <%= @charity_partb.funds_total %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @charity_partb.employees %>
</p>

<p>
  <strong>Volunteers:</strong>
  <%= @charity_partb.volunteers %>
</p>

<p>
  <strong>Cons acc:</strong>
  <%= @charity_partb.cons_acc %>
</p>

<p>
  <strong>Charity acc:</strong>
  <%= @charity_partb.charity_acc %>
</p>

<%= link_to 'Edit', edit_charity_partb_path(@charity_partb) %> |
<%= link_to 'Back', charity_partbs_path %>
