<p id="notice"><%= notice %></p>

<h1>Charity Classes</h1>

<table>
  <thead>
    <tr>
      <th>Regno</th>
      <th>Charity class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charity_classes.each do |charity_class| %>
      <tr>
        <td><%= charity_class.regno %></td>
        <td><%= charity_class.charity_class %></td>
        <td><%= link_to 'Show', charity_class %></td>
        <td><%= link_to 'Edit', edit_charity_class_path(charity_class) %></td>
        <td><%= link_to 'Destroy', charity_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity Class', new_charity_class_path %>
