<p id="notice"><%= notice %></p>

<h1>Charity Trustees</h1>

<table>
  <thead>
    <tr>
      <th>Regno</th>
      <th>Trustee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charity_trustees.each do |charity_trustee| %>
      <tr>
        <td><%= charity_trustee.regno %></td>
        <td><%= charity_trustee.trustee %></td>
        <td><%= link_to 'Show', charity_trustee %></td>
        <td><%= link_to 'Edit', edit_charity_trustee_path(charity_trustee) %></td>
        <td><%= link_to 'Destroy', charity_trustee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity Trustee', new_charity_trustee_path %>
