<%= form_with(model: financial, local: true) do |form| %>
  <% if financial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial.errors.count, "error") %> prohibited this financial from being saved:</h2>

      <ul>
      <% financial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :regno %>
    <%= form.text_field :regno, id: :financial_regno %>
  </div>

  <div class="field">
    <%= form.label :fystart %>
    <%= form.datetime_select :fystart, id: :financial_fystart %>
  </div>

  <div class="field">
    <%= form.label :fyend %>
    <%= form.datetime_select :fyend, id: :financial_fyend %>
  </div>

  <div class="field">
    <%= form.label :income %>
    <%= form.number_field :income, id: :financial_income %>
  </div>

  <div class="field">
    <%= form.label :expend %>
    <%= form.number_field :expend, id: :financial_expend %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
