<p id="notice"><%= notice %></p>

<h1>Financials</h1>

<table>
  <thead>
    <tr>
      <th>Regno</th>
      <th>Fystart</th>
      <th>Fyend</th>
      <th>Income</th>
      <th>Expend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financials.each do |financial| %>
      <tr>
        <td><%= financial.regno %></td>
        <td><%= financial.fystart %></td>
        <td><%= financial.fyend %></td>
        <td><%= financial.income %></td>
        <td><%= financial.expend %></td>
        <td><%= link_to 'Show', financial %></td>
        <td><%= link_to 'Edit', edit_financial_path(financial) %></td>
        <td><%= link_to 'Destroy', financial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial', new_financial_path %>
