<p id="notice"><%= notice %></p>

<p>
  <strong>Aootype:</strong>
  <%= @aoo_ref.aootype %>
</p>

<p>
  <strong>Aookey:</strong>
  <%= @aoo_ref.aookey %>
</p>

<p>
  <strong>Aooname:</strong>
  <%= @aoo_ref.aooname %>
</p>

<p>
  <strong>Aoosort:</strong>
  <%= @aoo_ref.aoosort %>
</p>

<p>
  <strong>Welsh:</strong>
  <%= @aoo_ref.welsh %>
</p>

<p>
  <strong>Master:</strong>
  <%= @aoo_ref.master %>
</p>

<p>
  <strong>Code:</strong>
  <%= @aoo_ref.code %>
</p>

<%= link_to 'Edit', edit_aoo_ref_path(@aoo_ref) %> |
<%= link_to 'Back', aoo_refs_path %>
