<%= form_with(model: charity_object, local: true) do |form| %>
  <% if charity_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(charity_object.errors.count, "error") %> prohibited this charity_object from being saved:</h2>

      <ul>
      <% charity_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :regno %>
    <%= form.text_field :regno, id: :charity_object_regno %>
  </div>

  <div class="field">
    <%= form.label :subno %>
    <%= form.number_field :subno, id: :charity_object_subno %>
  </div>

  <div class="field">
    <%= form.label :seqno %>
    <%= form.text_field :seqno, id: :charity_object_seqno %>
  </div>

  <div class="field">
    <%= form.label :object %>
    <%= form.text_field :object, id: :charity_object_object %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
